################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Phone_Book
/Phone_Book/obj/Debug/net8.0
/Phone_Book/obj
